* {
    margin: 0;
    padding: 0.5%;
    box-sizing: border-box;
}

body {
    width: 60%;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.slider {
    margin: 0 auto;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=radio] {
    display: none;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:0.4%;
}

label {
    border-radius: 50%;
    background-color: green;
    transition: all ease-in-out .5s;
}

